body {
  background-color: #ffcb8e;
}

.flex-container {
    display: flex;
}

.card {
  border-radius: 20px;
  background-color: #fce2ce;
  color: #00b7c2;
  text-align: center;
  width: 30%;
  height: 75%;
  margin: 30px;
  padding-left: 10px;
}

img {
  width: 75%;
  height: 50%;
  margin: 10px auto;
  border-radius: 100px;
}


.details {
  background-color: #e97171;
  color: white;
  width: 90%;
  margin-left: 5%;
}
